@mixin scrollbar() {
    overflow-y: scroll;
    overflow-block: scroll;

    &::-webkit-scrollbar {
        width: 5px;
    }
    
    &::-webkit-scrollbar-track {
        background: #E4ECFF;
        z-index: 980;
        //border-radius: 20px;
    }
    
    &::-webkit-scrollbar-thumb {
        background: $solidblue;
        //box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
        border-radius: 30px;
    }
    
    &::-webkit-scrollbar-button {
        //background: #E4ECFF;        
    }
}

.chat {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-inline: auto;
    margin: 5rem 0 0 3rem;
    //padding: 2rem;
    width: 80vw;
    height: 80vh;
    border-radius: 30px;
    //background: #fff;
    //border: 2px solid blue;
    
    .wrapper {
        position: relative;
        display: flex;
        align-content:center;
        //justify-content: center;
        gap: 1rem;
        //overflow-x: hidden;
        background: #fff;
        width: 100%;
        max-width: 1300px;
        height: 700px;
        border-radius: 30px;
        //overflow: hidden;
        //border: 2px solid red;

        .chat-contact {
            background: linear-gradient(185deg, #454469 , #2F2E41 90% 150%);
            height: 700px;
            width: 100%;
            max-width: 400px;
            min-width: 300px;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;
            overflow: hidden;
            
            
            .header {
                @include flexo();
                height: 60px;
                background: #333248;
                width: 100%;
                border-top-left-radius: 30px;
                border-top-right-radius: 30px;
                
                .chats {
                    @include flexo();
                    gap: 5px;

                    p {
                        font-family: 'Inter', sans-serif;
                        color: $solidblue;
                        font-size: 1.2rem;
                        pointer-events: none;
                        text-shadow: 0 0 10px $solidblue;
                    }

                    span {
                        @include flexo();
                        color: #fff;
                        background-color: $solidblue;
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;
                        padding: 2px 5px;
                        font-size: 0.7rem;
                        font-family: 'Inter', sans-serif;
                        pointer-events: none;
                    }
                }
            }

            .searchbar {
                width: 100%;
                height: 50px;
                display: flex;
                position: relative;

                input {
                    background: #BACCFD;
                    width: 100%;
                    padding: 1rem 3rem;
                    font-family: 'Poppins', sans-serif;
                    color: #2F2E41;
                    font-weight: 700;
                    font-size: 0.7rem;
                    outline: 0;
                    border: 0;
                    &::placeholder {
                        color: #2F2E41;
                    }
                }

                .search-tool {
                    position: absolute;
                    left: 1.5rem;
                    top: 1rem;
                    color: #2F2E41;;
                }
            }

            .contacts-list {
                border-bottom-left-radius: 30px;
                border-bottom-right-radius: 30px;
                margin: 0;
                height: 100%;
                max-height: calc(700px - 110px);
                width: 100%;
                background:  #333248;
                overflow-y: scroll;
                overflow-x: hidden;
                @include scrollbar();

                .contact {
                    position: relative;
                    background: linear-gradient(185deg, #454469 , #2F2E41 90% 150%);
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    gap: 5px;
                    height: 72px;
                    pointer-events: all;
                    border-bottom: 1px solid #BACCFD;
                    padding: 0 20px;
                    padding-right: 30px;
                    cursor: pointer;
                    &:last-child {
                        border: 0;
                    }

                    .avatar {
                        position: relative;
                        width: 49px;
                        height: 49px;
                        z-index: 10;
                        border-radius: 50%;
                               
                        img {
                            height: 100%;
                            width: 100%;
                        }
                    }

                    .right-labels {
                        display: flex;
                        flex-basis: auto;
                        flex-direction: column;
                        flex-grow: 1;
                        justify-content: center;
                        min-width: 0;

                        .name-label {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            line-height: normal;
                            
                            .name {
                            font-family: 'Poppins', sans-serif;
                            color: #fff;
                            font-size: 0.8rem;
                            font-weight: 600;
                            letter-spacing: 1px;
                            }

                            p {
                                color: #BACCFD;
                                font-family: 'Inter', sans-serif;
                                font-size: 0.5rem;
                            }
                        }

                        .msg-label {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            line-height: normal;

                            .last-msg {
                            font-family: 'Inter', sans-serif;
                            font-size: 0.55rem;
                            color: #BACCFD;
                            font-weight: 200;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            width: 180px;
                            white-space: nowrap
                            }

                            span {
                                @include flexo();
                                color: #fff;
                                font-family: 'Inter', sans-serif;
                                font-size: 0.6rem;
                                width: 20px;
                                height: 20px;
                                background:  $solidblue;
                                border-radius: 6px;
                                pointer-events: none;
                            }
                        }
                    }
                }
            }

        }

        .chat-conversation {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            width: 100%;
            max-width: 900px;
            min-width: 300px;
            height: 700px;
            border-radius: 30px;
            background: #454469;
            background: url('/src/images/backgrounds/BG-chat-min.png');
            border: 2px solid #baccfd;

            .chat-header {
                position: relative;
                height: 70px;
                width: 100%;
                background: #2f2f43;
                border-top-left-radius: 30px;
                border-top-right-radius: 30px;
                border-bottom-right-radius: 30px;
                border-bottom-left-radius: 30px;

                .left-side {
                    position: absolute;
                    top: 0;
                    left: 2rem;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    height: 100%;
                    width: 200px;  

                    .goback {
                        @include flexo();
                        padding: 10px;
                        color: #fff;
                        border-radius: 50%;
                        width: 30px;
                        height: 30px;
                        background: #6b6b7a;
                        cursor: pointer;
                    }

                    .avatar {
                        position: relative;
                        height: 60px;
                        width: 60px;

                        span {
                            position: absolute;
                            right: 0.5rem;
                            top: 0.8rem;
                            height: 10px;
                            width: 10px;
                            border-radius: 30px;
                            border: 1px solid #fff;
                            background: #00D609;
                        }

                        img {
                            height: 100%;
                            width: 100%;
                        }
                    }

                    .name-state-label {
                        display: flex;
                        align-items: flex-start;
                        gap: 5px;
                        flex-direction: column;

                        p {
                            color: #fff;
                            font-family: 'Poppins', sans-serif;
                            font-size: 1rem;
                        }

                        span {
                            font-family: 'Inter', sans-serif;
                            color: #00D609;
                            font-size: 0.6rem;
                        }
                    }
                }

                .right-side {
                    .right-btn {
                        position: absolute;
                        right: 2rem;
                        top: 0.9rem;
                        display: flex;
                        align-items: center;
                        width: 30px;
                        height: 30px;
                        background: #6b6b7a;
                        border-radius: 50%;

                        button {
                            width: 100%;
                            height: 100%;
                            background: transparent;
                            outline: 0;
                            border: 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;
                            gap: 4px;
                            cursor: pointer;

                            span {
                                width: 3px;
                                height: 3px;
                                border-radius: 50%;
                                background: #fff;
                            }
                        }
                    }
                }
            }

            .chat-messages {
                width: 100%;
                height: 100%;
                //border: 1px solid red;
            }

            .chat-footer {
                //position: absolute;
                //bottom: 1rem;
                margin-bottom: 10px;
                width: 100%;
                height: 70px;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                max-height: 200px;

                .input-field {
                    width: 90%;

                    form {
                        position: relative;
                        width: 100%;
                        height: 50px;
                        .input {
                            position: absolute;
                            width: 100%;
                            input {
                                font-family: 'Poppins', sans-serif;
                                width: 100%;
                                padding: 0.8rem 2rem;
                                height: 50px;
                                outline: 0;
                                border: 0;
                                border: 2px solid #BACCFD;
                                border-radius: 30px;
                                background: #615E81;
                                color: #fff;
                                white-space: pre;
                                &::placeholder {
                                    color: #BACCFD;
                                    font-weight: 400;
                                }
                                &:focus {
                                    border: 2px solid $solidblue;
                                }
                            }
                        }

                        button {
                            position: absolute;
                            right: 20px;
                            top: 10px;
                            @include flexo();
                            outline: 0;
                            border: 0;
                            background: #fff;
                            color: $solidblue;
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            transform: rotate(45deg);
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}