.dashboard {
    margin-inline: auto;
    margin: 5rem 0 0 3rem;
    padding: 20px;
    width: 100%;
    border-radius: 30px;
    min-width: 10vw;
    max-width: 80vw;
    height: 85vh;
    background-color: #fff;


}