@mixin flexo() {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin scrollbar() {
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 10px;
    }
    
    &::-webkit-scrollbar-track {
        background: #E4ECFF;
    }
    
    &::-webkit-scrollbar-thumb {
        background: $solidblue;
        border-radius: 30px;
    }
    
    &::-webkit-scrollbar-button {
        background: none;
    }
}

.dashboard {
    margin-inline: auto;
    margin: 5rem 0 0 1rem;
    padding: 20px;
    width: 100%;
    max-width: 85vw;
    height: 85vh;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    gap: 2rem;
    //border: 2px solid blue;
    //column-gap: 4rem;
    //row-gap: 2rem;

    .YourLastMatch {
        width: 100%;
        grid-column: 2/10;
        border-radius: 30px;
        transition: .4s;
        &:hover {
            transition: box-shadow .4s;
            box-shadow: 0 10px 20px rgba(1, 63, 133, 0.11);
        }

        .card {
            padding: 20px;
            background: #fff;
            @include flexo();
            position: relative;
            height: 100%;
            width: 100%;
            border-radius: 30px;
            overflow: hidden;

            .left {
                position: absolute;
                left: 0;
                @include flexo();
                float: left;
                width: 40px;
                height: 100%;
                background:#62FFA1 ;
                border-top-left-radius:30px ;
                border-bottom-left-radius:30px ;

                span {
                    letter-spacing: 5px;
                    writing-mode: vertical-rl;
                    text-orientation: upright;
                    font-family: 'Comfortaa', cursive;
                    font-weight: 600;
                    font-size: 0.85em;
                    color: #fff;
                    pointer-events: none;
                }
            }

            .right {
                position: absolute;
                right:0;
                @include flexo();
                float: right;
                width: 40px;
                height: 100%;
                background:#FF7272 ;
                border-top-right-radius:30px ;
                border-bottom-right-radius:30px ;

                span {
                    letter-spacing: 5px;
                    writing-mode: vertical-rl;
                    text-orientation: upright;
                    font-family: 'Comfortaa', cursive;
                    font-weight: 600;
                    font-size: 0.85em;
                    color: #fff;
                    pointer-events: none;
                }
            }

            .card-content {
            @include flexo();

                width: 100%;
                .title {
                    top: 0;
                    left: 0;
                    position: absolute;
                    margin-left: 4rem;
                    padding-top: 0.5rem;
                    h3 {
                        font-family: 'Lilita One', cursive;
                        font-size: 1.2em;
                        color: #353E6C;
                    }
                }

                .content {
                    padding-top: 1rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .leftPlayer {
                        display: flex;
                        align-items: center;
                        gap: 1rem;

                        .names {
                            display: flex;
                            flex-direction: column;
                            gap: 0.5rem;

                            p {
                                font-family: 'Comfortaa', cursive;
                                font-size: 2em;
                                font-weight: 700;
                            }

                            span {
                                color: $bgel;
                                font-family: 'Inter', sans-serif;
                                font-weight: 700;   
                            }
                        }
                    }

                    .dots {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        gap: 10px;
                        font-size: 1.5rem;
                        font-family: 'Lilita One', cursive;

                        .vs {
                            width: 6px;
                            height: 6px;
                            border-radius: 50%;
                            background: $solidblue;
                        }
                    }

                    .rightPlayer {
                        display: flex;
                        align-items: center;
                        gap: 1rem;


                        .names {
                            display: flex;
                            flex-direction: column;
                            gap: 0.5rem;

                            p {
                                font-family: 'Comfortaa', cursive;
                                font-size: 2em;
                                font-weight: bold;
                            }

                            span {
                                color: $bgel;
                                font-family: 'Inter', sans-serif;
                                font-weight: 600;   
                            }
                        }
                    }
                }
            }
        }
    }

    .OnlineFriends {
        grid-column: 10/20;
        grid-row: 1/ 6;
        background: #fff;
        border-radius: 30px;
        transition: .4s;
        padding: 20px;
        padding-inline: 30px;
        box-sizing: border-box;
        &:hover {
            transition: box-shadow .4s;
            box-shadow: 0 10px 20px rgba(1, 63, 133, 0.11);
        }

        @include scrollbar();
        
        .title {
            font-family: 'Lilita One', cursive;
            font-size: 1.2em;
            color: #353E6C;
            font-weight: 700;
        }

        .cards-wrapper {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;
            padding: 20px;
            inset: 0;
            box-sizing:border-box;
            
            .card-friend {
                    overflow: hidden;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    background: #F9FAFF;
                    border-radius: 10px;
                    padding: 20px 5px;
                    border:1px solid #E4ECFF;

                    .friend {
                        position: absolute;
                        left: 0;
                        display: flex;
                        align-items: center;
                        //border: 2px solid red;

                        .avatar {
                            display: flex;
                            align-items: center;
                            justify-content: space-around;
                            padding-left: 20px;

                            img {
                                pointer-events: none;
                            }

                            .online {
                                width: 12px;
                                height: 12px;
                                background: #73ff00;
                                border-radius: 100%;
                                border: 1px solid #fff;
    
                            }
                        }

                        .card-name {
                            display: flex;
                            flex-direction: column;
    
                            .name {
                                font-family: 'Poppins', sans-serif;
                                font-size: 1.1em;
                                color: #000;
                            }
                            .ingame {
                                font-size: 0.75em;
                                color: #16DBCC;
                            }
                        }
                    }

                    .send-msg {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        //border: 2px solid red;
                        padding: 20px;

                        input {
                            z-index: 55;
                            right: 20px;
                            position: absolute;
                            max-width: 20vw;
                            border-radius: 10px;
                            white-space:nowrap;
                            outline: 0;
                            border: 0;
                            border: 1px solid #E4ECFF;
                            background: #F9FFFF;
                            padding: 0.7rem 1rem;
                            width: 80%;
                            font-family: 'Poppins', sans-serif;
                            font-size: 1em;
                            opacity: 1;

                            &::placeholder {
                                color: #9BA8FF;
                            }
                        }

                        .sendchat {
                            position: absolute;
                            @include flexo();
                            right: 30px;
                            width: 35px;
                            height: 35px;
                            background: $solidblue;
                            border: 2px solid #BACCFD;
                            border-radius: 100%;
                            z-index: 80;
                            &:active {
                                transform: scale(0.9);
                            }

                            button {
                                background: transparent;
                                outline: 0;
                                border: 0;
                                cursor: pointer;
                                height: 100%;
                                width: 100%;

                            }
                        }
                        
                    }
            }
        }
    }

    .Statistic {
        grid-column: 2/10;
        grid-row: 2/ 6;
        //background: #fff;
        //border: 1px solid blue;
        border-radius: 30px;
        transition: .4s;
        position: relative;

        .title {
            top: 0;
            left: 0;
            position: absolute;
            font-family: 'Lilita One', cursive;
            font-size: 1.2em;
            color: #353E6C;
            font-weight: 700;
            z-index: 40;
        }

        .statistic-wrapper {
            display: flex;
            justify-content: space-around;
            align-items: flex-end;
            gap: 0.5rem;
            position: relative;
            height: 100%;
            //width: 100%;

            .winrate {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 2rem;
                //padding-bottom: 3rem;
                width: 280px;
                height: 300px;
                background-color: #fff;
                border-radius: 30px;
                &:hover {
                    transition: box-shadow .4s;
                    box-shadow: 0 10px 20px rgba(1, 63, 133, 0.11);
                }

                h1 {
                    font-size: 1rem;
                    font-family: 'Poppins', sans-serif;                }

                .skill {
                    width: 160px;
                    height: 160px;
                    //background: cornflowerblue;
                    position: relative;

                    .outer {
                        position: relative;
                        height: 160px;
                        width: 160px;
                        border-radius: 50%;
                        //border: 1px solid red;
                        background: #EFF3FE;
                        
                        padding: 20px;
;

                        .inner {
                            height: 120px;
                            width: 120px;
                            border-radius: 50%;
                            //border: 1px solid red;
                            background-color: #fff;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            .number {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                font-weight: 600;
                                color: #000;

                                .percent {
                                    color: $bgel;
                                    font-weight: 100;
                                }
                            }
                        }
                    }

                    .svg {  
                        svg {
                            position: absolute;
                            top: 0;
                            left: 0;
                        }

                        circle {
                            fill: none;
                            stroke: url(#GradientColor);
                            stroke-width: 20px;
                            stroke-dasharray: 482;
                            stroke-dashoffset: 150;
                        }
                    }
                }
            }

            .loggedin {
                width: 280px;
                height: 300px;
                background-color: #fff;
                border-radius: 30px;
                &:hover {
                    transition: box-shadow .4s;
                    box-shadow: 0 10px 20px rgba(1, 63, 133, 0.11);
                }
            }
        }

    }

    .Rank {
        grid-column : 2/10;
        margin-top: 1rem;
        width: 100%;
        position: relative;
        height: 15vh;

        .title {
            top: -25%;
            position: absolute;
            h3 {
                font-family: 'Lilita One', cursive;
                font-size: 1.2em;
                color: #353E6C;
            }
        }
        
        .rankWrapper {
            position: absolute;
            //bottom: 0;
            margin:0;
            width: 100%;
            //max-width: 600px; //Disable this if you want to have a fixed components
            height: 100%;
            //max-height: 10vh;
            display: flex;
            gap: 10px;
           // align-items: center;

            .rank-one {
                background: #FFAD31;
                border-radius: 20px;
                height: 100%;
                width: 211px;
                display: flex;
                gap: 20px;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                padding-left: 20px;
                position: relative;
                overflow: hidden;
                transition: .4s;

                p {
                    color: #fff;
                    font-size: 1.2rem;
                    font-family: 'Inter', sans-serif;
                    font-weight: 700;
                    text-align: center;
                }

                .rankNumber {
                    padding-left: 5px;
                    letter-spacing: 2px;
                }

                .player {
                    display: flex;
                    align-items: flex-end;
                    .playerName {
                        font-size: 1.2em;
                        font-family: 'Comfortaa', cursive;
                        font-weight: 700;
                        color: #fff;
                        z-index: 60;
                        text-align: center;
                    }

                    img {
                        display: flex;
                        margin-left: 5px;
                        z-index: 75;
                        margin-bottom: 4px;
                    }
                }

                .rectangle {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    right: 0;
                    top: 0;
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                    pointer-events: none;

                    img {
                        height: 150px;
                    }

                }


                &:hover {
                    transition:  transform .4s;
                    box-shadow: 0 10px 20px rgba(1, 63, 133, 0.11);
                    transform: translateY(-5px);
                }
            }

            .rank-two {
                background: #08837B;
                border-radius: 20px;
                height: 100%;
                width: 211px;
                display: flex;
                gap: 20px;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                padding-left: 20px;
                position: relative;
                overflow: hidden;
                transition: .4s;

                p {
                    color: #fff;
                    font-size: 1.2rem;
                    font-family: 'Inter', sans-serif;
                    font-weight: 700;
                }

                .rankNumber {
                    padding-left: 5px;
                    letter-spacing: 2px;
                }

                .player {
                    display: flex;
                    align-items: flex-end;
                    .playerName {
                        font-size: 1.2em;
                        font-family: 'Comfortaa', cursive;
                        font-weight: 700;
                        color: #fff;
                        z-index: 60;
                    }

                    img {
                        margin-left: 5px;
                        z-index: 75;
                        margin-bottom: 4px;
                    }
                }

                .rectangle {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    pointer-events: none;

                    img {
                        object-fit: cover;
                        height: 150px;
                    }

                }

                &:hover {
                    transition:  transform .4s;
                    box-shadow: 0 10px 20px rgba(1, 63, 133, 0.11);
                    transform: translateY(-5px);
                }
            }

            .rank-three {
                background: #605C59;
                border-radius: 20px;
                height: 100%;
                width: 211px;
                display: flex;
                gap: 20px;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                padding-left: 20px;
                position: relative;
                overflow: hidden;
                transition: .4s;

                p {
                    color: #fff;
                    font-size: 1.2rem;
                    font-family: 'Inter', sans-serif;
                    font-weight: 700;
                }

                .rankNumber {
                    padding-left: 5px;
                    letter-spacing: 2px;
                }

                .player {
                    display: flex;
                    align-items: flex-end;
                    .playerName {
                        font-size: 1.2em;
                        font-family: 'Comfortaa', cursive;
                        font-weight: 700;
                        color: #fff;
                        z-index: 60;
                    }

                    img {
                        margin-left: 5px;
                        z-index: 75;
                        margin-bottom: 4px;
                    }
                }

                .rectangle {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    right: 0;
                    top: 0;
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                    pointer-events: none;

                    img {
                        height: 150px;
                    }

                }

                &:hover {
                    transition:  transform .4s;
                    box-shadow: 0 10px 20px rgba(1, 63, 133, 0.11);
                    transform: translateY(-5px);
                }
            }
        }
    }

    .RankedGame {
        grid-column: 10/20;
        margin-top: 1rem;
        background: #fff;
        border-radius: 30px;
        overflow: hidden;
        height: 15vh;
        transition: .4s;
        &:hover {
            transition: box-shadow .4s;
            box-shadow: 0 10px 20px rgba(1, 63, 133, 0.11);
        }

        .rankedGameWrapper {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;

            .title {
                top: 10px;
                left: 40px;
                position: absolute;
                z-index: 50;
                h3 {
                    color: #fff;
                    font-size: 2rem;
                    font-family: 'Lilita One', cursive;
                    font-size: 1.5em;
                    color: #353E6C;
                }
            }

            .btn {
                position: absolute;

                button  {
                    position: relative;
                    padding: 15px 50px;
                    border-radius: 30px;
                    outline: 0;
                    border: 0;
                    background-color: red;
                    color: #fff;
                    font-size: 2rem;
                    font-family: 'Lilita One', cursive;
                    letter-spacing: 2px;
                    z-index: 21;   
                    border: 2px solid rgb(255, 255, 255);  
                    transition: .5s ease;
 
                    &:hover {
                        transition: .5s;
                        box-shadow: inset 0px 0px 50px 0 #000;
                    }

                    &:active {
                        transition: transform .2s ;
                        transform: scale(0.9);
                        background: $solidblue;
                        //padding: 15px 80px;
                    }
                }

            }

            .image {
                position: absolute;
                z-index: 10;
                img {
                    position: relative;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    background-position: center ;
                    pointer-events: none;
                    opacity: 0.8;

                }

            }
        }
    }
    
}



