@mixin flexo() {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin scrollbar() {
    overflow-y: scroll;
    overflow-block: scroll;

    &::-webkit-scrollbar {
        width: 10px;
    }
    
    &::-webkit-scrollbar-track {
        background: #E4ECFF;
        border-bottom-right-radius: 30px;
        border-top-right-radius: 30px;
    }
    
    &::-webkit-scrollbar-thumb {
        background: $solidblue;
        box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
        border-radius: 30px;
    }
    
    &::-webkit-scrollbar-button {
        background: transparent;
    }
}

.dashboard {
    margin-inline: auto;
    margin: 5rem 0 0 1rem;
    padding: 20px;
    width: 100%;
    max-width: 85vw;
    height: 85vh;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: auto 200px;
    gap: 2rem;
    //overflow: hidden;


    .YourLastMatch {
        width: 100%;
        grid-column: 2/10;
        border-radius: 30px;
        transition: .4s;
        animation: slide 1.8s cubic-bezier(0.160, 0.84, 0.44, 1) forwards ;
        transform: translateY(-180%);
        &:hover {
            transition: box-shadow .4s;
            box-shadow: 0 10px 20px rgba(1, 63, 133, 0.11);
        }

        .card {
            @include flexo();
            padding: 20px;
            background: #fff;
            position: relative;
            height: 100%;
            width: 100%;
            border-radius: 30px;
            overflow: hidden;

            .left {
                position: absolute;
                left: 0;
                @include flexo();
                float: left;
                width: 40px;
                height: 100%;
                background:#62FFA1 ;
                border-top-left-radius:30px ;
                border-bottom-left-radius:30px ;

                span {
                    letter-spacing: 5px;
                    writing-mode: vertical-rl;
                    text-orientation: upright;
                    font-family: 'Comfortaa', cursive;
                    font-weight: 600;
                    font-size: 0.85em;
                    color: #fff;
                    pointer-events: none;
                }
            }

            .right {
                position: absolute;
                right:0;
                @include flexo();
                float: right;
                width: 40px;
                height: 100%;
                background:#FF7272 ;
                border-top-right-radius:30px ;
                border-bottom-right-radius:30px ;

                span {
                    letter-spacing: 5px;
                    writing-mode: vertical-rl;
                    text-orientation: upright;
                    font-family: 'Comfortaa', cursive;
                    font-weight: 600;
                    font-size: 0.85em;
                    color: #fff;
                    pointer-events: none;
                }
            }

            .card-content {
            @include flexo();

                width: 100%;
                .title {
                    top: 0;
                    left: 0;
                    position: absolute;
                    margin-left: 3rem;
                    padding-top: 0.5rem;
                    h3 {
                        font-family: 'Lilita One', cursive;
                        font-size: 20px;
                        color: #353E6C;
                    }
                }

                .content {
                    padding-top: 1rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .leftPlayer {
                        display: flex;
                        align-items: center;
                        //gap: 1rem;

                        .names {
                            display: flex;
                            flex-direction: column;
                            //gap: 0.5rem;

                            p {
                                font-family: 'Comfortaa', cursive;
                                font-size: 2.3em;
                                font-weight: 700;
                            }

                            span {
                                color: $bgel;
                                font-family: 'Inter', sans-serif;
                               // font-weight: 700;   
                            }
                        }
                    }

                    .dots {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        gap: 10px;
                        font-size: 1.5rem;
                        font-family: 'Lilita One', cursive;

                        .vs {
                            width: 6px;
                            height: 6px;
                            border-radius: 50%;
                            background: $solidblue;
                        }
                    }

                    .rightPlayer {
                        display: flex;
                        align-items: center;
                        //gap: 1rem;


                        .names {
                            display: flex;
                            flex-direction: column;
                            //gap: 0.5rem;

                            p {
                                font-family: 'Comfortaa', cursive;
                                font-size: 2.3em;
                                font-weight: bold;
                            }

                            span {
                                color: $bgel;
                                font-family: 'Inter', sans-serif;
                                //font-weight: 600;   
                            }
                        }
                    }
                }
            }
        }
    }

    .OnlineFriends {
        grid-column: 10/20;
        grid-row: 1/ 6;
        background: #fff;
        width: 100%;
        min-width: 300px;
        border-radius: 30px;
        transition: .4s;
        padding: 20px;
        //padding-inline: 30px;
        box-sizing: border-box;
        animation: slide 1.8s cubic-bezier(0.160, 0.84, 0.44, 1) forwards ;
        transform: translateX(180%);
        &:hover {
            transition: box-shadow .4s;
            box-shadow: 0 10px 20px rgba(1, 63, 133, 0.11);
        }

        @include scrollbar();
        
        .title {
            font-family: 'Lilita One', cursive;
            font-size: 1.2em;
            color: #353E6C;
            font-weight: 700;
        }

        .cards-wrapper {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;
            padding: 20px;

            
            .card-friend {
                    //overflow: hidden;
                    position: relative;
                    @include flexo();
                    width: 100%;
                    //flex-wrap: wrap;
                    gap: 5px;
                    background: #F9FAFF;
                    border-radius: 10px;
                    padding: 10px 5px;
                    border:1px solid #E4ECFF;
                    
                    .friend {
                        margin-right: auto;
                        left: 0;
                        display: flex;
                        align-items: center;
                        width: 160px;
                        //z-index: 500;
                        //border: 2px solid red;

                        .avatar {
                            display: flex;
                            align-items: center;
                            justify-content: space-around;
                            padding-left: 20px;

                            img {
                                pointer-events: none;
                            }

                            .online {
                                position: relative;
                                width: 12px;
                                height: 12px;
                                background: #73ff00;
                                border-radius: 100%;
                                border: 1px solid #fff;
                                
                                &::before {
                                    content: 'online';
                                    background: $bgel;
                                    padding: 5px;
                                    color: #ffffff;
                                    font-size: 0.75em;
                                    font-family: 'Poppins', sans-serif;
                                    border-radius: 30px;
                                    position: absolute;
                                    top: -10px;
                                    left: -50px;
                                    display: none;
                                    
                                }
                                
                                &:hover::before {
                                   display: block;
                                   transition: .5s all;
                                }
                            }

                            .occupied {
                                position: relative;
                                width: 12px;
                                height: 12px;
                                background: #ffa600;
                                border-radius: 100%;
                                border: 1px solid #fff;

                                &::before {
                                    content: 'occupied';
                                    background: $bgel;
                                    padding: 5px;
                                    color: #ffffff;
                                    font-size: 0.75em;
                                    font-family: 'Poppins', sans-serif;
                                    border-radius: 30px;
                                    position: absolute;
                                    top: -10px;
                                    left: -50px;
                                    display: none;
                                    
                                }
                                
                                &:hover::before {
                                   display: block;
                                   transition: .5s all;
                                }
                            }
                        }

                        .card-name {
                            display: flex;
                            flex-direction: column;
    
                            .name {
                                font-family: 'Poppins', sans-serif;
                                font-size: 1.1em;
                                color: #000;
                            }
                            .ingame {
                                font-size: 0.75em;
                                color: #09db5a;
                            }
                        }
                    }

                    .send-msg {
                        width: 100%;
                        max-width: 300px;
                        display: flex;
                        align-items: center;
                        padding: 20px;
                        //border: 2px solid red;

                        input {
                            right: 10px;
                            position: absolute;
                            max-width: 65%;
                            border-radius: 6px;
                            white-space:nowrap;
                            outline: 0;
                            border: 0;
                            border: 2px solid #E4ECFF;
                            background: #F9FFFF;
                            padding: 0.7rem 1rem;
                            width: 100%;
                            font-family: 'Poppins', sans-serif;
                            font-size: 0.9em;
                            opacity: 1;

                            &::placeholder {
                                color: #9BA8FF;
                            }

                            &:focus {
                                box-shadow: inset 0 0 2px $solidblue;
                            }
                        }

                        .sendchat {
                            position: absolute;
                            @include flexo();
                            right: 20px;
                            width: 35px;
                            height: 35px;
                            background: rgb(114,99,255);
                            background: radial-gradient(circle, rgba(114,99,255,1)
                            0%, rgba(0,65,255,1) 100%);
                            border: 2px solid #BACCFD;
                            border-radius: 100%;
                            z-index: 80;
                            
                            &:active {
                                transition: .1s;
                                transform: scale(0.8);
                            }
                            
                            button {
                                background: transparent;
                                outline: 0;
                                border: 0;
                                cursor: pointer;
                                height: 100%;
                                width: 100%;

                            }
                        }
                        
                    }
            }
            .friends-off {
                color: $bgel;
                font-size: 1.8rem;
                display: flex;
                justify-content: center;
                font-family: 'Manjari', sans-serif
            }
        }
    }

    .Statistic {
        grid-column: 2/10;
        grid-row: 2/ 6;
        //border: 1px solid blue;
        border-radius: 30px;
        transition: .4s;
        position: relative;
        animation: slide 1.8s cubic-bezier(0.105, 0.84, 0.44, 1) forwards ;
        transform: translateX(-180%);
        .title {
            top: 0;
            left: 0;
            position: absolute;
            font-family: 'Lilita One', cursive;
            font-size: 1.2em;
            color: #353E6C;
            font-weight: 700;
            z-index: 40;
        }

        .statistic-wrapper {
            display: flex;
            justify-content: space-around;
            align-items: flex-end;
            gap: 0.5rem;
            position: relative;
            height: 100%;
            //width: 100%;

            .winrate {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 2rem;
                //padding-bottom: 3rem;
                width: 280px;
                height: calc(100% - 10%);
                background-color: #fff;
                border-radius: 30px;
                &:hover {
                    transition: box-shadow .4s;
                    box-shadow: 0 10px 20px rgba(1, 63, 133, 0.11);
                }

                h1 {
                    position: absolute;
                    top: 4rem;
                    font-size: 1em;
                    font-family: 'Poppins', sans-serif;  
                }

                p {
                    color: #000;
                    display: flex;
                    text-align: center;
                    justify-content: center;
                    gap: 10px;
                    margin-top: 4rem;
                    flex-direction: column;
                    font-family: 'Inter', sans-serif;
                    font-weight: 700;
                    
                    span {
                        font-family: 'Manjari', sans-serif;
                        color: $bgel;
                    }
                }

                .PieChart {
                    position: absolute;
                    width: 220px;
                    height: 220px;
                }
                .BarChart {
                    position: absolute;
                    width: 200px;
                    height: 200px;
                }
                
            }

            .loggedin {
                position: relative;
                @include flexo();
                flex-direction: column;
                padding: 10px;
                width: 280px;
                height: calc(100% - 10%);
                background-color: #fff;
                border-radius: 30px;
                &:hover {
                    transition: box-shadow .4s;
                    box-shadow: 0 10px 20px rgba(1, 63, 133, 0.11);
                }

                .time {
                    position: absolute;
                    top: 2rem;

                    h1 {
                        font-size: 1rem;
                        font-family: 'Poppins', sans-serif;  
                        text-align: center;
                    }

                    .chart {
                        padding: 20px;
                    }
                }
            }
        }

    }

    .Rank {
        grid-column : 2/10;
        margin-top: 1rem;
        width: 100%;
        position: relative;
        height: 15vh;
        animation: slide 1.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards ;
        transform: translateY(180%);

        .title {
            top: -25%;
            position: absolute;
            h3 {
                font-family: 'Lilita One', cursive;
                font-size: 1.2em;
                color: #353E6C;
            }
        }
        
        .rankWrapper {
            position: absolute;
            //bottom: 0;
            margin:0;
            width: 100%;
            //max-width: 600px; //Disable this if you want to have a fixed components
            height: 100%;
            //max-height: 10vh;
            display: flex;
            gap: 10px;
           // align-items: center;

            .rank-one {
                background: #FFAD31;
                border-radius: 20px;
                height: 100%;
                width: 211px;
                display: flex;
                gap: 20px;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                padding-left: 20px;
                position: relative;
                overflow: hidden;
                transition: .4s;

                p {
                    color: #fff;
                    font-size: 1.2rem;
                    font-family: 'Inter', sans-serif;
                    font-weight: 700;
                    text-align: center;
                    z-index: 80;
                }

                .rankNumber {
                    padding-left: 5px;
                    letter-spacing: 2px;
                }

                .player {
                    display: flex;
                    align-items: flex-end;
                    .playerName {
                        font-size: 1.2em;
                        font-family: 'Comfortaa', cursive;
                        font-weight: 700;
                        color: #fff;
                        z-index: 60;
                        text-align: center;
                    }

                    img {
                        display: flex;
                        margin-left: 5px;
                        z-index: 75;
                        margin-bottom: 4px;
                    }
                }

                .rectangle {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    right: 0;
                    pointer-events: none;
                    
                    img {
                        height: 250px;
                        width: 100%;
                        
                        object-fit: cover;
                    }

                }


                &:hover {
                    transition:  transform .4s;
                    box-shadow: 0 10px 20px rgba(1, 63, 133, 0.11);
                    transform: translateY(-5px);
                }
            }

            .rank-two {
                background: #08837B;
                border-radius: 20px;
                height: 100%;
                width: 211px;
                display: flex;
                gap: 20px;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                padding-left: 20px;
                position: relative;
                overflow: hidden;
                transition: .4s;

                p {
                    color: #fff;
                    font-size: 1.2rem;
                    font-family: 'Inter', sans-serif;
                    font-weight: 700;
                    z-index: 80;
                }

                .rankNumber {
                    padding-left: 5px;
                    letter-spacing: 2px;
                }

                .player {
                    display: flex;
                    align-items: flex-end;
                    .playerName {
                        font-size: 1.2em;
                        font-family: 'Comfortaa', cursive;
                        font-weight: 700;
                        color: #fff;
                        z-index: 60;
                    }

                    img {
                        margin-left: 5px;
                        z-index: 75;
                        margin-bottom: 4px;
                    }
                }

                .rectangle {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    right: 0;
                    pointer-events: none;
                    
                    img {
                        height: 250px;
                        width: 100%;
                        
                        object-fit: cover;
                    }

                }

                &:hover {
                    transition:  transform .4s;
                    box-shadow: 0 10px 20px rgba(1, 63, 133, 0.11);
                    transform: translateY(-5px);
                }
            }

            .rank-three {
                background: #605C59;
                border-radius: 20px;
                height: 100%;
                width: 211px;
                display: flex;
                gap: 20px;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                padding-left: 20px;
                position: relative;
                overflow: hidden;
                transition: .4s;

                p {
                    color: #fff;
                    font-size: 1.2rem;
                    font-family: 'Inter', sans-serif;
                    font-weight: 700;
                    z-index: 80;
                }

                .rankNumber {
                    padding-left: 5px;
                    letter-spacing: 2px;
                    z-index: 56;
                }

                .player {
                    display: flex;
                    align-items: flex-end;
                    .playerName {
                        font-size: 1.2em;
                        font-family: 'Comfortaa', cursive;
                        font-weight: 700;
                        color: #fff;
                        z-index: 60;
                    }

                    img {
                        margin-left: 5px;
                        z-index: 55;
                        margin-bottom: 4px;
                    }
                }

                .rectangle {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    right: 0;
                    pointer-events: none;
                    
                    img {
                        height: 250px;
                        width: 100%;
                        
                        object-fit: cover;
                    }

                }
                &:hover {
                    transition:  transform .4s;
                    box-shadow: 0 10px 20px rgba(1, 63, 133, 0.11);
                    transform: translateY(-5px);
                }
            }
        }
    }

    .RankedGame {
        grid-column: 10/20;
        margin-top: 1rem;
        background: #fff;
        border-radius: 30px;
        overflow: hidden;
        height: 15vh;
        transition: .4s;
        animation: slide 1.8s cubic-bezier(0.565, 0.84, 0.44, 1) forwards ;
        transform: translateY(180%);
        &:hover {
            transition: box-shadow .4s;
            box-shadow: 0 10px 20px rgba(1, 63, 133, 0.11);
        }

        .rankedGameWrapper {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;

            .title {
                top: 10px;
                left: 40px;
                position: absolute;
                z-index: 50;
                h3 {
                    color: #fff;
                    font-size: 2rem;
                    font-family: 'Lilita One', cursive;
                    font-size: 1.5em;
                    color: #353E6C;
                }
            }

            .btn {
                position: absolute;
                button  {
                    position: relative;
                    padding: 15px 50px;
                    border-radius: 30px;
                    outline: 0;
                    border: 0;
                    background-color: red;
                    color: #fff;
                    font-size: 2rem;
                    font-family: 'Lilita One', cursive;
                    letter-spacing: 2px;
                    z-index: 21;   
                    border: 2px solid rgb(255, 255, 255);  
                    transition: .5s ease;
 
                    &:hover {
                        transition: .5s;
                        box-shadow: inset 0px 0px 50px 0 #000;
                    }

                    &:active {
                        transition: transform .2s ;
                        transform: scale(0.9);
                        background: $solidblue;
                        //padding: 15px 80px;
                    }
                }

            }

            .image {
                position: absolute;
                z-index: 10;
                img {
                    position: relative;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    background-position: center ;
                    pointer-events: none;
                    opacity: 0.8;

                }

            }
        }
    }
    
}

//Queries

@media only screen and (max-width: 1460px) {
    .dashboard {
        gap: 1rem;
        align-items: center;
        //border: 2px solid red;
        margin-top: 30rem;
        margin-inline: auto;
        height: 100%;
        .YourLastMatch {
            grid-column: 2/22;
            grid-row: 1/2;
        }
        .OnlineFriends {
            grid-column: 2/22;
            grid-row: 2/4;
            max-height: 30vh;
        }
        .Statistic {
            grid-column: 2/22;
            grid-row: 4/7;

            .title {
                top: 0.5rem;
                left: 1.5rem;
            }

            .statistic-wrapper {
                
                .winrate {
                    h1 {
                        display: none;
                    }
                }

                .winrate,.loggedin {
                    position: relative;
                    //width: 100%;
                    //min-width: 300px;
                    height: 300px;
                }
            }
        }
        .Rank {
            grid-column: 2/22;
            grid-row: auto;
        }
        .RankedGame {
            grid-column: 2/22;
            grid-row: auto;
        }
    }
    
}

@media only screen and (max-width: 715px) {
    .dashboard {
        
        margin-top: 55rem;
        .YourLastMatch {
            grid-column: 2/20;
            
            .card {
                .left,.right{
                    width: 30px;
                }
                .content {
                    gap: 1rem;
                    .leftPlayer {
                        flex-direction: column-reverse;
                        gap: -1rem;
                        .names {
                            p {
                                font-size: 1.5em !important;
                            }

                        }
                    }

                    .dots {
                        margin-bottom: 4rem;
                    }

                    .rightPlayer {
                        flex-direction: column;
                        gap: -1rem;
                        .names {
                            p {
                                font-size: 1.5em !important;
                            }
                        }
                    }
                }
            }
        }
        .OnlineFriends {
            grid-column: 2/20;
            .card-friend {
                padding-left: 0 !important;
                
                .friend {
                    z-index: 90;
                    .avatar {
                        //margin-right: 50px;
                        img {
                            //display: none;
                            height: 30px;
                        }
                        
                        .online {
                            //display: none;
                            width: 10px !important;
                            height: 10px !important;
                        }
                    }
                    
                    .card-name {
                        .name {
                            font-size: 0.65rem !important;
                            font-weight: 700 !important;
                        }
                        
                        .ingame {
                            font-size: 0.55rem !important;
                            font-weight: 700 !important;

                        }
                    }
                }
                
                .send-msg {
                    gap: 4rem;
                    input {
                        padding: 0.4rem 0.5rem !important;
                        font-size: 0.8em !important;

                        &::placeholder {
                            color: #9BA8FF;
                            font-size: 0.8em !important;
                        }
                    }

                    .sendchat {
                        width: 25px !important;
                        height: 25px !important;

                        button {
                            img {
                                height: 10px !important;
                            }
                        }
                    }
                }

            }
        }
        .Statistic {
            grid-column: 2/20;

            .statistic-wrapper {
                flex-direction: column;

                .winrate,.loggedin {
                    width: 100%;
                }
            }
        }
        .Rank {
            grid-column: 2/20;
            grid-row: auto;

            .rankWrapper {
                flex-direction: column;
               .rank-one,.rank-two,.rank-three {
                width: 100%;
                height: 150px !important;
                flex-grow: 1;
                flex: 50% 0 0;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
               } 
            }
        }
        .RankedGame {
            grid-column: 2/20;
            grid-row: 12/22;
        }
    }
}

@media only screen and (max-width: 573px){
    .dashboard {
        .OnlineFriends {
            .send-msg {
                input {
                    padding: rem 1rem !important;
                }
            }
            .friend {
                flex-direction: column;
                
                .card-name {
                    justify-content: center;
                    align-items: center;
                    .name {
                        text-align: center;
                        justify-content: center;
                        text-align: center;
                    }
                    .ingame {
                        text-align: center;
                        transform: translateX(0.1rem);
                    }

                }

                .avatar {
                    flex-direction: column;
                }
            }
        }
    }
    .RankedGame {
        .rankedGameWrapper {
            .title {
                top: 0 !important;
                left: 10px !important;
                font-size: 1rem !important;
            }

            .btn {
                button {
                    padding: 10px 30px !important;
                }
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .dashboard {
        .YourLastMatch {
            grid-column: 2/23;

            .card {
                padding: 1rem;

                .title {
                    h3 {
                        text-align: center;
                    }
                }

                .left {
                    width: 40px;
                    height: 40%;
                    border-top-right-radius:200px ;
                    border-bottom-right-radius:200px;

                    span {
                        font-size: 0.7rem;
                        transform: translateX(-5px);
                    }
                }

                .right {
                    width: 40px;
                    height: 40%;
                    border-top-left-radius:200px ;
                    border-bottom-left-radius:200px;

                    span {
                        font-size: 0.6rem;
                        transform: translateX(5px);
                    }
                }

                .content {
                    gap: 1rem;
                    .leftPlayer {
                        flex-direction: column-reverse;
                        gap: -1rem;
                        .names {
                            p {
                                font-size: 1em;
                                display: block;
                            }

                        }
                    }

                    .dots {
                        margin-bottom: 4rem;
                    }

                    .rightPlayer {
                        flex-direction: column;
                        gap: -1rem;
                        .names {
                            p {
                                font-size: 1em;
                            }
                        }
                    }
                }
            }
        }
        .OnlineFriends {
            grid-column: 2/23;
        }
        .Statistic {
            grid-column: 2/23;
        }
        .Rank {
            grid-column: 2/23;
            grid-row: auto;
        }
        .RankedGame {
            grid-column: 2/23;
            grid-row: 12/22;

            .rankedGameWrapper {
                .title {
                    top: 0;
                    left: 10px;
                    font-size: 1rem !important;

                }

                .btn {
                    button {
                        padding: 10px 30px;
                    }
                }
            }
        }
    }
}

@media only screen and  (max-width: 376px){
    .dashboard {
        margin-top: 60rem;
        
        .YourLastMatch {
            grid-column: 2/22;

        }
        .OnlineFriends {
            grid-column: 2/22;
        }
        .Statistic {
            grid-column: 2/22;

        }
        .Rank {
            grid-column: 2/22;
            grid-row: auto;
        }
        .RankedGame {
            grid-column: 2/22;
            grid-row: auto;
            margin-top: 5rem;

            .rankedGameWrapper {
                .title {
                    font-size: 0.7rem !important;
                    top: 0;
                    left: 0px;
                }

                .btn {
                    button {
                        padding: 10px 30px;
                    }
                }
            }
        }
    }
}