@mixin scrollbar() {
    overflow-y: scroll;
    overflow-block: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar {
        width: 8px;
    }
    
    &::-webkit-scrollbar-track {
        background: #E4ECFF;
        border-radius: 20px;
        //border-bottom-right-radius: 30px;
        //border-top-right-radius: 30px;
    }
    
    &::-webkit-scrollbar-thumb {
        background: $solidblue;
        box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
        border-radius: 30px;
    }
    
    &::-webkit-scrollbar-button {
        background: transparent;
    }
}

$primary: #1900ff;
$lightGrey: #99A3BA;

.Friends {
    display: flex;
    align-items: center;
    justify-content: center;
    //flex-wrap: wrap;
    gap: 20px; 
    margin-inline: auto;
    margin: 5rem 0 0 3rem;
    padding: 2rem;
    width: 80vw;
    height: 80vh;
    border-radius: 30px;

    .addFriend-acceptFriend {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;
        max-width: 400px;
        height: 100%;
        max-height: 800px;
        //padding: 20px;
        

        .addFriend {
            position: relative;
            @include flexo();
            flex-direction: column;
            background: #fff;
            border-radius: 30px;
            width: 100%;
            max-width: 400px;
            height: 100%;
            max-height: 200px;
            transition: .4s;
            &:hover {
                transition: box-shadow .4s;
                box-shadow: 0 10px 20px rgba(1, 63, 133, 0.11);
            }

            .title {
                position: absolute;
                width: 150px;
                height: 30px;
                top: 10px;
                left: 20px;
                overflow: hidden;

                h1 {
                    font-family: 'Lilita One', cursive;
                    color: #353E6C;
                    font-size: 1.3em;
                    font-weight: 700;
                    margin: 0;
                    animation: slide 1.8s cubic-bezier(0.265, 0.84, 0.44, 1) forwards ;
                    transform: translateY(-180%);
                }
            }

            .add {
                margin-top: 1rem;
                display: flex;
                justify-content: center;
                flex-direction: column;
                padding: 0.5rem;
                gap: 1rem;

                input {
                    font-family: 'Poppins', sans-serif;
                    width: 250px;
                    height: 50px;
                    padding: 1rem 1rem;
                    outline: 0;
                    border: 0;
                    background: #F4F6FF;
                    border-radius: 30px;
                    text-align: center;
                    &:focus {
                        border: 1px solid $bgel;
                    }
                    &::placeholder {
                        color: $bgel;
                        font-family: 'Inter', sans-serif;
                        text-align: center;
                    }
                }
                
                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    padding: 1rem 2rem;
                    //width: 200px;
                    margin-inline: auto;
                    outline: 0;
                    border: 0;
                    transition: .3s;
                    border-radius: 10px;
                    background: $solidblue;
                    font-family: 'Poppins', sans-serif;
                    color: #fff;
                    box-shadow: 0 10px 15px #1c5cff63;
                    cursor: pointer;
                    &:hover {
                        background: #217aff;
                        box-shadow: 0 10px 15px #217aff65;
                        transition: .3s all;
                    }
                    &:active {
                        background: #002fa7;
                        transition: .2s all;
                        scale: 0.95;
                    }
                }
            }
        }

        .invitations {
            @include scrollbar();
            overflow-x: hidden;
            display: flex;
            align-items: center;
            flex-direction: column;
            //justify-content: center;
            position: absolute;
            bottom: 0;
            width: 100%;
            max-width: 400px;
            height: 100%;
            max-height: 450px;
            transition: .5s all;
            background: #fff;
            border-radius: 30px;

            &:hover {
                transition: box-shadow .4s;
                box-shadow: 0 10px 20px rgba(1, 63, 133, 0.11);
            }

            .title {
                position: absolute;
                width: 150px;
                height: 30px;
                top: 10px;
                left: 20px;
                overflow: hidden;

                h1 {
                    font-family: 'Lilita One', cursive;
                    color: #353E6C;
                    font-size: 1.3em;
                    font-weight: 700;
                    margin: 0;
                    animation: slide 1.8s cubic-bezier(0.765, 0.84, 0.44, 1) forwards ;
                    transform: translateY(-180%);
                }
            }
            
            .inv-list {
                margin-top: 3rem;
                width: 100%;
                max-width: 300px;
                height: 100%;
                //max-height: 360px;
                //border: 1px solid blue;

                .demand {
                    position: relative;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    height: 70px;
                    width: 100%;
                    max-width: 300px;
                    &:not(:first-child){
                        border-top: 1px dotted #E4ECFF;
                    }
                    


                    .content {
                        position: absolute;
                        left: 0;
                        display: flex;
                        align-items: center;
                        width: 100%;
                        max-width: 200px;
                        height: 100%;
                        .avatar {
                            display: flex;
                            border-radius: 50%;
                            width: 60px;
                            height: 60px;
                            img {
                                @include flexo();
                                width: 60px;
                                cursor: pointer;
                            }
                        }

                        .name-level {
                            flex-direction: column;
                            display: flex;
                            align-items: flex-start;
                            justify-content: center;
                            width: 100%;
                            //border: 1px solid red;

                            .name {
                            font-family: 'Poppins', sans-serif;
                            font-weight: 700;
                            font-size: 1em;
                            text-transform: uppercase;
                            color: #000;
                        }
                            .lvl {
                                font-family: 'Poppins', sans-serif;
                                text-transform: uppercase;
                                font-size: 0.9em;
                                color: #94A7FF;
                            }
                        }
                    }

                    .accept-decline {
                        position: absolute;
                        right: 0;
                        @include flexo();
                        padding: 1rem;
                        gap: 20px;

                        .validation {
                            outline: 0;
                            border: 0;
                            width: 50px;
                            height: 30px;
                            background: #16DBCC;
                            border-radius: 30px;
                            @include flexo();
                            cursor: pointer;
                            transition: .3s all;
                            &:active {
                                scale: 0.9;
                            }
                            &:hover {
                                transition: .3s all;
                                background: #06ffde;
                                box-shadow: 0 0 20px #06ffde5b;
                            }
                            
                        }
                        .decline {
                            outline: 0;
                            border: 0;
                            width: 50px;
                            height: 30px;
                            background: #FF5A5A;
                            border-radius: 20px;
                            @include flexo();
                            cursor: pointer;
                            transition: .3s all;
                            &:active {
                                scale: 0.9;
                            }
                            &:hover {
                                transition: .3s all;
                                background: #ff1919;
                                box-shadow: 0 0 20px #ff19193d;
                            }
                        }
                    }
                }

            }

        }
    }

    .dataTable-friends {
        //overflow: scroll;
        //@include scrollbar();
        position: relative;
        //overflow: hidden;
        background: #fff;
        width: 100%;
        min-width: 370px;
        max-width: 1100px;
        height: 100%;
        max-height: 800px;
        border-radius: 30px;
        transition: .4s all;
        &:hover {
            transition: box-shadow .4s;
            box-shadow: 0 10px 20px rgba(1, 63, 133, 0.11);
        }

        .TableComponent {
            height: 100%;
            width: 100%;
            border-radius: 30px;
            overflow: scroll;
            @include scrollbar();

            .title {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 12px;
                border-bottom: 1px solid #f1f1f1;
                width: 100%;
                overflow: hidden;

                .header {
                    overflow: hidden;
                    h1 {
                        font-family: 'Lilita One', cursive;
                        color: #353E6C;
                        font-size: 1.3em;
                        font-weight: 700;
                        margin: 0 0 0 1rem;
                        animation: slide 1.8s cubic-bezier(0.765, 0.84, 0.44, 1) forwards ;
                        transform: translateY(-180%);
                    }
                }
    


                input {
                    margin-right: 1rem;
                    outline: 0;
                    background: #fff;
                    border: 0;
                    border-radius: 20px;
                    padding: 0.7rem 1rem;
                    border: 1px solid #ffffff;
                    box-shadow:inset 0 0 10px #c2c2c559,0 0 2px #c2c2c5;
                    font-family: 'Poppins', sans-serif;
                    &:focus {
                        border: 1px solid $solidblue;
                        box-shadow:inset 0 0 10px #e5ebff;
                    }
                }
            }

            .columns {
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                border-bottom: 1px solid #f1f1f1;
                pointer-events: none;

                p {
                    font-family: 'Poppins', sans-serif;
                    color:#1F5DFF;
                }
            }

            .rows {

                //border: 1px solid red;
                width: 100%;
                height: 100%;
                position: relative;

                .row {
                    margin-inline: auto;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    width: 100%;
                    height: auto;
                    background: #DBE5FF;
                    &:nth-child(even) {
                        background: #F4F6FF;
                    }
                    //&:first-child {
                     //   padding-top: 5px
                    //}

                    .avatar {
                        //border: 1px solid red;
                        @include flexo();
                        border-radius: 50%;
                        width: 50px;
                        height: 50px;
                        img {
                            height: 40px;
                        }
                    }

                    .username {
                        //border: 1px solid red;
                        //padding: 5px;
                        width: 100px;
                        transform: translateX(-20%);
                        p {
                            font-family: 'Poppins', sans-serif;
                            color: #000;
                            text-align: left;
                            font-size: 0.9em;
                        }
                    }

                    .level {
                        //border: 1px solid red;
                        padding: 5px;
                        width: 50px;
                        transform: translateX(-40%);

                        p {
                            font-family: 'Poppins', sans-serif;
                            color: #000;
                            text-align: left;
                            font-size: 1em;
                        }
                    }

                    .blocked {
                        //border: 1px solid red;
                        padding: 5px;
                        width: 50px;
                        transform: translateX(-60%);
                        
                        .switch {
                            height: 24px;
                            display: block;
                            position: relative;
                            cursor: pointer;
                            
                            input {
                                display: none;
                                & + span {
                                    padding-left: 50px;
                                    min-height: 24px;
                                    line-height: 24px;
                                    display: block;
                                    color: $lightGrey;
                                    position: relative;
                                    white-space: nowrap;
                                    transition: color .3s ease;
                                    &:before,
                                    &:after {
                                        content: '';
                                        display: block;
                                        position: absolute;
                                        border-radius: 12px;
                                    }
                                    &:before {
                                        top: 0;
                                        left: 0;
                                        width: 42px;
                                        height: 24px;
                                        background: #E4ECFA;
                                        transition: all .3s ease;
                                    }
                                    &:after {
                                        width: 18px;
                                        height: 18px;
                                        background: #fff;
                                        top: 3px;
                                        left: 3px;
                                        box-shadow: 0 1px 3px rgba(#121621, .1);
                                        transition: all .45s ease;
                                    }
                                    em {
                                        width: 8px;
                                        height: 7px;
                                        background: $lightGrey;
                                        position: absolute;
                                        left: 8px;
                                        bottom: 7px;
                                        border-radius: 2px;
                                        display: block;
                                        z-index: 1;
                                        transition: all .45s ease;
                                        &:before {
                                            content: '';
                                            width: 2px;
                                            height: 2px;
                                            border-radius: 1px;
                                            background: #fff;
                                            position: absolute;
                                            display: block;
                                            left: 50%;
                                            top: 50%;
                                            margin: -1px 0 0 -1px;
                                        }
                                        &:after {
                                            content: '';
                                            display: block;
                                            border-top-left-radius: 4px;
                                            border-top-right-radius: 4px;
                                            border: 1px solid $lightGrey;
                                            border-bottom: 0;
                                            width: 6px;
                                            height: 4px;
                                            left: 1px;
                                            bottom: 6px;
                                            position: absolute;
                                            z-index: 1;
                                            transform-origin: 0 100%;
                                            transition: all .45s ease;
                                            transform: rotate(-35deg) translate(0, 1px);
                                        }
                                    }
                                    strong {
                                        font-weight: normal;
                                        position: relative;
                                        display: block;
                                        top: 1px;
                      
                                        &:after {
                                            content: '';
                                            opacity: 0;
                                            visibility: hidden;
                                            position: absolute;
                                            left: 0;
                                            top: 0;
                                            color: $primary;
                                            transition: all .3s ease;
                                            transform: translate(2px, 0);
                                        }
                                    }
                                }
                                
                                &:checked {
                                    & + span {
                                        &:before {
                                            background: rgba($solidblue, .65);
                                        }
                                        &:after {
                                            background: #fff;
                                            transform: translate(18px, 0);
                                        }
                                        em {
                                            transform: translate(18px, 0);
                                            background: $primary;
                                            &:after {
                                                border-color: $primary;
                                                transform: rotate(0deg) translate(0, 0);
                                            }
                                        }
                                        strong {
                                            &:before {
                                                opacity: 0;
                                                visibility: hidden;
                                                transition: all .3s ease;
                                                transform: translate(-2px, 0);
                                            }
                                            &:after {
                                                opacity: 1;
                                                visibility: visible;
                                                transform: translate(0, 0);
                                                transition: all .3s ease .2s;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .delete {
                        padding: 5px;
                        width: 50px;
                        transform: translateX(-50%);

                        button {
                            outline: 0;
                            border: 0;
                            padding: 8px 10px;
                            border-radius: 30px;
                            background: #FF3B3B;
                            cursor: pointer;
                            transition: .3s all;
                            &:active {
                                transition: .5s all;
                                transform: scale(0.9);
                            }
                            &:hover {
                                transition: .3s;
                                background:#ff6d6d;
                                box-shadow: inset 0 0 10px rgb(255, 156, 156);
                            }

                            span {
                                color: #fff;
                                font-size: 0.8em;
                            }
                        }
                    }

                }
            }

        }

    }
}

@keyframes disapearing {
    to {
            opacity: 0;
    }
}

@media (max-width: 745px) {
    .Friends {
        margin-top: 150%;
        flex-wrap: wrap;
        align-content: center;
    }

    .addFriend-acceptFriend {
        display: none;

    }
}