$coldblue:#008AFF;
$solidblue: #1758FF;
$vanilla: #F4F6FF;

.LandingPage {
    position: relative;
	background: url("/src/images/backgrounds/Landing-BG.jpg");
	background-position:center;
    min-height: 100vh;
	width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

    .nav {
        position: absolute;
        top: 0;
		display: flex;
		align-items: center;
		justify-content: space-around;
        gap: 35vw;
		width: 100%;
		height: 10vh;
        z-index: 300;
		.logo {

			width: auto;
			.img {
				width: 80px;
				height: 80px;
				cursor: pointer;
				margin-inline: auto;
			}
		}
		.about {

			display: inline-block;
            
			.dropbtn {
                display: flex;
                align-items: center;
				padding: 6px 20px;
				font-size: 1.4rem;
				border: 0;
                transition: .5s all;
				color: #008AFF;
                background: transparent;
                font-family: 'Poppins', sans-serif;
                animation: popoff;
				&:hover {
					.fas {
						animation: popoff .5s ;
					}
				}

                .fas {
                    color: #008AFF;
                }

			}
			.dropdown-content {
				display: none;
				position: absolute;
				background-color: #ffffff;
				border-radius: 10px;
				padding: 10px;
				min-width: 160px;
                box-shadow: 0 5px 15px #a71b1b18;
				z-index: 111;

				.anchor {
					color: #FF223C;
					font-family: 'Poppins', sans-serif;
					background-color: transparent;
                    border: 2px solid #FF223C;
					padding: 8px 16px;
					text-align: center;
					border-radius: 30px;
					margin: 12px;
					text-decoration: none;
                    @include flexo();
                    gap: 5px;
                    transition: .1s all;
					&:hover {
						background-color: #FF223C;
						transition: background-color .4s;
						border-radius: 30px;
						color: #fff;
					}
					&:active {
						background-color: rgb(83, 0, 0);
                        color: #FF223C;
						transition: .3s all;
					}

				}
			}
			&:hover {
				.dropdown-content {
					display: block;
				}
			}
		}
	}

    .effect {
        z-index: 29;
        .circle {
            background: linear-gradient(190deg, #1f005c, #01eeff, #ff0000, #ff6ca9, #0059ff, #0affd6, #008cff, #6bdcff);
            height: 500px;
            aspect-ratio: 2;
            position: absolute;
            border-radius: 50%;
            left: 50%;
            top: 50%;
            translate: -50% -50%;
            animation: rotate infinite 20s;
            opacity: 0.6;  
        }

        .blur {
            height:100%;
            width: 100%;
            position: absolute;
            z-index: 2;
            backdrop-filter: blur(300px);
        }
    }

    .mid-align-content {
        top: 5rem;
        position: absolute;
        padding: 3rem;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
        gap: 10vw;
        height: 90vh;
        width: 100%;
        z-index: 32;

        .mid-left {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 1rem;
            max-width: 600px;
            
            .title {
                overflow: hidden;
                margin-top: 50px;
                h1 {
                    background: linear-gradient(to top, #0059ff , #4baeff 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    -webkit-background-clip: text;
                    -moz-background-clip: text;
                    -o-background-clip: text;
                    background-clip: text;
                    color: transparent;
                    font-weight: 900;
                    font-family: 'Righteous', cursive;
                    font-size: 6em;
                    text-transform: uppercase;
                    line-height: 1.4em;
                    animation: slide 1.8s cubic-bezier(0.365, 0.84, 0.44, 1) forwards ;
                    transform: translateY(-180%);
                }
               }
    
            .text {
                max-width: 500px;
                overflow: hidden;
                p {
                    font-family: 'Poppins', sans-serif;
                    font-size: 1.2em;
                    line-height: 2.3rem;
                    animation: slide 1.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards ;
                    transform: translateY(180%);
                }
                }
        }

            .btn-div {
                margin-top: 2rem;
                overflow: hidden;
                .btn {
                    padding: 0 20px;
                    position: relative;
                    background: transparent;
                    outline: 0;
                    border: 0;
                    height: 80px;
                    font-family: 'Righteous', cursive;
                    font-size: 2rem;
                    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
                    color: #fff;
                    cursor: pointer;
                    animation: slide 1.8s cubic-bezier(0.665, 0.84, 0.44, 1) forwards ;
                    transform: translateY(180%);
                  
                    &::before {
                      content: '';
                      display: block;
                      position: absolute;
                      inset: 0;
                      height: 80px;
                      width: 80px;
                      border-radius: 50px;
                      z-index: -1;
                      background: rgb(255, 99, 99);
                      background: linear-gradient(
                        0deg,
                        rgba(255, 99, 99, 1) 0%,
                        rgba(212, 0, 0, 1) 100%
                      );
                      transition: width 200ms;
                    }
                  
                    &:is(:hover, :focus)::before {
                      width: 100%;
                    }
                  
                }
                &:active {
                  transform: scale(0.8);
                  transition: transform 200ms ;
                }
            }

            .mid-right {
                //border: 1px solid red;
                .image {
                    margin-top: 50px;
                    width: 600px;
                    display: flex;
                    justify-content: flex-end;

                    img {
                        min-width: 340px;
                        pointer-events: none;
                    }
                }
            }
        
    }
}

//Animations

@keyframes rotate {
    from {
        rotate: 0deg;
    }
    50%{
        scale: 1 1.3;
    }
    to {
        rotate: 360deg;
    }
  }

@keyframes popoff {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-5px);
	}
	100% {
		transform: translateY(0px);
	}
}

//Media Screen

@media (max-width: 600px) {
    .LandingPage {
        .nav {
            .logo {
                left: 2rem !important;
            }
            .about {
                right: 3rem;
            }
        }
        .effect {
            display: none;
        }
        .mid-align-content {
            .mid-left {
                .title {
                    margin-top: 12rem;
                    h1 {
                        font-size: 4em;
                    }
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .LandingPage {
        .nav {
            .about {
                .dropdown-content {
                    transform: translateX(-15px);
                }
            }
        }
    }
}