.navbar {
    margin: 0;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 10vh;
    padding: 10px;
    z-index: 19;

    .navWrapper {
        margin: 1rem 3rem 0 0;
        position: fixed;
        top: 0;
        //bottom: 0;
        display: flex;
        align-items: center;
        gap: 2rem;
        
        
        .searchContainer:not(:last-child) {
            position: relative;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50px;
            cursor: pointer;
            transition:  .4s all;

            img {
                pointer-events: none;
            }

            .img {
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: .4s all;
                border-radius: 50px;
            }
        }
        
        ::placeholder {
            transition: 1s linear;
            opacity: 0;
            font-weight: 200;
            font-size: .85rem;
            color: $solidblue;
        }

        input {
            font-weight: 700;
            width: 0px;
            outline: 0;
            border: 0;
            transition: .2s all;
            border-radius: 30%;
            font-size: .75rem;
            text-align: left;
            text-overflow: ellipsis;
            font-family: 'Poppins', sans-serif
        }

        .notificationContainer {
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 50px;
            cursor: pointer;
            transition: .4s all;
            position: relative;

            .notification {
                pointer-events: none;
                display: inline-block;

                .notification-Number {
                    display: none; //when you want to activate it , give it flex
                    align-items: center;
                    justify-content: center;
                    right: 0;
                    top: 0;
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    color: #fff;
                    font-size: 0.65rem;
                    border-radius: 100%;
                    background-color: red;
                }
            }
        }

        .avatarContainer {
            margin-top: 8px;
            display: flex;
            align-items: center;
            cursor: pointer;

            .avatar {
                display: inline-block;
            }
        }

    }
}


.searchContainer.active {
    transition: .4s;

    input {
        display: block;
        width: 200px;
        transition: .4s all;
        padding: 0 1rem;
        border: 0;
        outline: 0;
        opacity: 1;
    }

    ::placeholder {
        opacity: 0.5;
    }
    
}

@media (max-width: 600px)  {
    .navbar {
        .navWrapper {
            grid-gap: 1rem;
        }
    }
}
@media (max-width: 480px)  {
    .navbar {
        .navWrapper {
            margin: 0 1rem 0 0;
        }

    }
    .searchContainer.active {

        ::placeholder {
            transition: .2s;
            width: 100px;
            font-size: 0.6rem;
            opacity: 1;
        }
        
        input {
            width: 100px;
        }
    }
}