.navbar {
    margin: 0;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 10vh;
    padding: 10px;
    z-index: 19;

    .navWrapper {
        margin: 1rem 3rem 0 0;
        position: fixed;
        top: 0;
        //bottom: 0;
        display: flex;
        align-items: center;
        gap: 2rem;
        
        
        .searchContainer:not(:last-child) {
            position: relative;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50px;
            cursor: pointer;
            transition:  .4s all;

            img {
                pointer-events: none;
            }

            .img {
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: .4s all;
                border-radius: 50px;
            }
        }
        
        ::placeholder {
            transition: 1s linear;
            opacity: 0;
            font-weight: 200;
            font-size: .85rem;
            color: $solidblue;
        }

        input {
            font-weight: 700;
            width: 0px;
            outline: 0;
            border: 0;
            transition: .2s all;
            border-radius: 30%;
            font-size: .75rem;
            text-align: left;
            text-overflow: ellipsis;
            font-family: 'Poppins', sans-serif;
        }

        .notificationContainer {
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 50px;
            cursor: pointer;
            transition: .4s all;
            position: relative;

            .notification {
                position: relative;
                pointer-events: none;
                display: inline-block;
                
                .dropdown {
                    display: none;
                    top: 2.5rem;
                    right: -10px;
                    position: absolute;
                    padding: 10px;
                    min-width: 250px;
                    box-shadow: 0px 8px 16px 0px rgba(0, 15, 218, 0.062);
                    background-color: $lightblue;
                    border: 2px solid #fff;
                    border-radius: 10px;
                    animation: block 1s forwards;
                    opacity: 0;

                    p {
                        font-size: 0.85em;
                        color: #000;
                        font-family: 'Poppins', sans-serif;
                        text-align: left;
                        margin: 5px;
                        display: block;
                        &:not(:last-child) {
                            padding-bottom: 10px;
                            border-bottom: 1px solid #fff;                        }
                        span {
                            color: red;
                        }
                    }

                    }
                    .dropdown.active {
                        transition: .4s;
                        display: block;
                    }
                } 
                

                .notification-Number {
                    display: flex; //when you want to activate it , give it flex
                    align-items: center;
                    justify-content: center;
                    right: -15px;
                    top: -8px;
                    padding: 0.45rem;
                    position: absolute;
                    width: 12px;
                    height: 12px;
                    color: #fff;
                    font-family: sans-serif;
                    font-size: 0.5rem;
                    font-weight: 700;
                    border-radius: 100%;
                    background-color: red;
                }

                button {
                    position: relative;
                    z-index: 50;
                    background: transparent;
                    border: 0;
                    outline: 0;
                }

            }
        }

        .avatarContainer {
            margin-top: 8px;
            display: flex;
            align-items: center;
            cursor: pointer;

            .avatar {
                display: inline-block;
            }
        }

    }



.searchContainer.active {
    transition: .4s;

    input {
        display: block;
        width: 200px;
        transition: .4s all;
        padding: 0 1rem;
        border: 0;
        outline: 0;
        opacity: 1;
    }

    ::placeholder {
        opacity: 0.5;
    }
    
}


@media (max-width: 600px)  {
    .navbar {
        .navWrapper {
            grid-gap: 1rem;
        }
    }
}
@media (max-width: 480px)  {
    .navbar {
        .navWrapper {
            margin: 0 1rem 0 0;
        }

    }
    .searchContainer.active {

        ::placeholder {
            transition: .2s;
            width: 100px;
            font-size: 0.6rem;
            opacity: 1;
        }
        
        input {
            width: 100px;
        }
    }
    
}


