//SCSS Files
@import './sidebar.scss';
@import './navbar.scss';
@import './dashboard.scss';

$white: #FFFFFF;
$solidblue: #1657FF;
$lightblue: #F4F6FF;
$bgel: #BACCFD;

//Fonts
/*Poppins*/@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/*Lillita One*/@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
/*Comfortaa instead of Jua*/@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
/*Inter*/@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: scroll;
    height: 100vh;
    width: 100vw;
    background-color: #F4F5F7;
    font-family: sans-serif;
    //margin: 1rem 3rem 0 0;
    //display: flex;
    //justify-content: center;
    //align-items: center;
}

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
